@model MetroDocs.Domain.ViewModel.AgreementRenewal
    <div class="row">
        <div class="col-12">
            <div class="card infobox border-0">
                <div class="card-body p-0">
                    <table class="table table-bordered">
                        <tr class="p-0">
                            <td class="text-center p-1">
                                @Html.LabelFor(m => m.StartDate, new { @class = "control-label p-0 m-0" })
                            </td>

                            <td class="text-center p-1">
                                @Html.LabelFor(m => m.EndDate, new { @class = "control-label p-0 m-0" })
                            </td>

                            <td class="text-center p-1">
                                @Html.LabelFor(m => m.RentAmountPerMonth, new { @class = "control-label p-0 m-0" })
                            </td>

                            <td class="text-center p-1">
                                @Html.LabelFor(m => m.SecurityDeposit, new { @class = "control-label p-0 m-0" })
                            </td>

                        </tr>
                        <tr>
                            <td class="text-center p-1">
                                @Html.DisplayFor(m => m.StartDate, new { @class = "form-control form-control-sm" })
                            </td>
                            <td class="text-center p-1">
                                @Html.DisplayFor(m => m.EndDate, new { @class = "form-control form-control-sm" })
                                @Html.HiddenFor(m => m.EndDate, new { id = "ExpiredDate" })
                            </td>
                            <td class="text-center p-1">
                                @Html.DisplayFor(m => m.RentAmountPerMonth, new { @class = "form-control form-control-sm" })
                            </td>
                            <td class="text-center p-1">
                                @Html.DisplayFor(m => m.SecurityDeposit, new { @class = "form-control form-control-sm" })
                            </td>
                        </tr>
                        <tr>
                            <td class="text-center p-1">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.RenewalStartDate, new { @class = "datewidth form-control form-control-sm text-center date", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.RenewalStartDate, "", new { @class = "text-danger d-block" })
                                    @Html.HiddenFor(m => m.AgreementId)
                                    @Html.HiddenFor(m => m.AgreementInfoId)
                                </div>
                            </td>
                            <td class="text-center p-1">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.RenewalEndDate, new { @class = "datewidth form-control form-control-sm text-center date", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.RenewalEndDate, "", new { @class = "text-danger d-block" })
                                </div>
                            </td>
                            <td class="text-center p-1">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.RenewalRentAmountPerMonth, new { @class = "form-control form-control-sm text-right", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.RenewalRentAmountPerMonth, "", new { @class = "text-danger d-block" })
                                </div>
                            </td>
                            <td class="text-center p-1">
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-inr" aria-hidden="true"></i></span>
                                    </div>
                                    @Html.TextBoxFor(m => m.RenewalSecurityDeposit, new { @class = "form-control form-control-sm text-right", autocomplete = "off" })
                                    @Html.ValidationMessageFor(m => m.RenewalSecurityDeposit, "", new { @class = "text-danger d-block" })
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>        


                <div class="card-body p-1">                                    

                   <div class="form-group">
                        @Html.LabelFor(m => m.UploadDocuments, new { @class = "control-label p-0 m-0" })
                        <span class="requiredfiled">*</span>
                        @Html.TextBoxFor(m => m.UploadDocuments, new { type = "file", multiple = "multiple" })
                        @Html.ValidationMessageFor(m => m.UploadDocuments, "", new { @class = "text-danger d-block" })
                    </div>
                    <div class="form-group float-right">
                        <input type="button" value="Save" class="btn btn-sm btn-success" onclick="return Uploadrenewaldocument()" />
                        <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
                    </div>


                </div>

            </div>

        </div>
