@{
    ViewBag.Title = "List of Agreement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="float-left">
            <h5>List of Agreement</h5>
        </div>
        <div class="float-right">
            <div class="p-1">
                @Html.ActionLink("New Agreement", "CreateAgreement", "Agreement", null, new { @class = "btn btn-default btn-sm btn-danger" })
            </div>
        </div>
    </div>
</div>
<div class="row p-1">
    <div class="offset-3 p-0"></div>
    <div class="col-md-6 p-0">
        <div class="form-inline">
            <div class="input-group input-group-sm mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">Entry Date From <span class="ml-2 fa fa-calendar"></span></span>
                </div>
                @Html.TextBox("Reportfrom", null, new { @class = "form-control form-control-sm txtpaymentdetail", required = "required", autocomplete = "off" })
            </div>

            <div class="input-group input-group-sm mb-3 ml-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">To <span class="ml-2 fa fa-calendar"></span></span>
                </div>
                @Html.TextBox("Reportto", null, new { @class = "form-control form-control-sm txtpaymentdetail", required = "required", autocomplete = "off" })
            </div>

            <div class="input-group mb-3 ml-3">
                <input type="button" class="btn btn-success btn-sm" value="Report" onclick="return loadagreementlistdata();" />
            </div>
            @if (ViewBag.ValidationMessage != null)
            {
                <div class="input-group mb-3 ml-3">
                    <div class="alert alert-danger p-2 ml-3">
                        @ViewBag.ValidationMessage
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="col-md-3 col-sm-3 col-lg-3">
        <div id="divErrMsg" class="text-white bg-danger text-center">
        </div>
    </div>
</div>
<div class="row">
    <div id="divagreementlist" class="col-md-12 col-lg-12 mr-5" style="height:350px;overflow:auto;">

    </div>
</div>

<div id="wait" style="display: none; width: 100%; height: 100%; top: 100px; left: 0px; position: fixed; z-index: 10000; text-align: center;">
    <img src='@Url.Content("~/Content/images/ConventionalOblongFairybluebird-small.gif")' width="200" height="200" alt="Loading..." style="position: fixed; top: 50%; left: 50%;" />
</div>

<div class="modal fade" id="DocumentModal" tabindex="-1" role="dialog" aria-labelledby="documentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="documentModalLabel">List of Document</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="DocumentUploadList">

                </div>
                <div id="divfilenotfound" class="text-danger float-left">

                </div>
            </div>
            <div class="modal-footer">               
              
                    <button type="button" class="btn btn-sm btn-danger" data-dismiss="modal">Close</button>
               
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script type="text/javascript">

        $(document).ready(function () {
            $(document).ajaxStart(function () {
                $('#wait').show();
            });
            $(document).ajaxStop(function () {
                $('#wait').hide();
            });
            $(document).ajaxError(function () {
                $('#wait').hide();
            });
            $(document).on('click', '.nav-item', function (e) {
                $(this).addClass('active').siblings().removeClass('active');
            });
        })     
      
        $(document).ready(function () {


                $('#Reportfrom,#Reportto').datepicker({
                    changeMonth: true,
                    changeYear: true,
                    dateFormat: 'dd-M-yy',
                    maxDate:new Date()
                });

                //  $("#Reportfrom,#Reportto").datepicker("setDate", new Date());
                $('#Reportfrom,#Reportto').bind('keypress', function (e) {
                    e.stopPropagation();
                    return false;
                });

                //$(".alert-danger").toggle();
                $("#divErrMsg").hide();
                loadagreementlistdata();
            });

        function loadagreementlistdata() {
            var isformvalid = true;

            $("#divErrMsg").empty();
            $("#divagreementlist").empty();

            var from = $('#Reportfrom').val();
            var to = $('#Reportto').val();



            if (from == '' || from == null || moment(from, "DD-MMM-YYYY",true).isValid() == false) {
                isformvalid = false;
                $("#divErrMsg").append('<h4>Invalid From date</h4>');
            }

            if (to == '' || to == null || moment(to, "DD-MMM-YYYY", true).isValid() == false) {
                isformvalid = false;
                $("#divErrMsg").append('<h4>Invalid To date</h4>');
            }

            const dateFrom = moment(from, "DD-MMM-YYYY", true);
            const dateTo = moment(to, "DD-MMM-YYYY", true);

            if (dateTo.isSame(dateFrom) == false && dateTo.isAfter(dateFrom) == false) {
                isformvalid = false;
                $("#divErrMsg").append('<h4>Invalid date selection.</h4>');
            }

            if (isformvalid == false) {
                $("#divErrMsg").show();
                $("#divagreementlist").empty();
                return false;
            }



            var url = "@Url.RouteUrl("AgreementEntryList", new { from="from", to="to"})"
            url = url.replace("from", from).replace("to", to);
                $.get(url, function (data) {
                    $("#divagreementlist").html(data);
                    $('[data-toggle="tooltip"]').tooltip();
                });
            }

        function DisplayDocument(AgreementId) {            
            $("#divfilenotfound").empty();
             $("#DocumentUploadList").empty();
            var url = '';
            url = "@Url.RouteUrl("DisplayAgreementDocument", new { AgreementId = "AgreementId" })";
            url = url.replace("AgreementId", AgreementId);
            $.get(url, function (data) {
                $("#DocumentUploadList").html(data);
          });
            $('#DocumentModal').modal('show')
            //DocumentModal
        }
        function Opendocument(url) {
            $("#divfilenotfound").empty();
            if (isURLExists(url)) {
                window.open(url);
            }
            else {
                $("#divfilenotfound").html("<h5>File Not found</h5>")
            }
        }



    </script>
}
