@model MetroDocs.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset password";
}


<div class="row">
    <div class="col-3 offset-5 border border-info mt-4">
        <h4 class="text-success">@ViewBag.Title</h4>
        <hr/>
        @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()           
            @Html.HiddenFor(model => model.Code)
            @Html.HiddenFor(model => model.UserId)

            <div class="form-group">
                @Html.LabelFor(m => m.Password, new { @class = "control-label" })               
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
               
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })               
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="float-right m-1">
                    <input type="submit" class="btn btn-primary" value="Reset" />
                </div>
            </div>
        }
    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
